<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <connectionStrings>
    <add name="Db" connectionString="Server=tcp:ace-demo-server.database.windows.net,1433;Database=PatientHub;User ID=demo;Password=YourPassword1!;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>

  <appSettings>
    <add key="scoringURL" value="http://51.143.97.86/api/v1/service/ace-patienthub-analysis-0222/score"/>
    <add key="authKey" value="lLeRwqzT33O2Yb7VhonaXkESmYdqHNdh"/>

    <add key="spGetPatients" value="dbo.spGet_AllPatients"/>
    <add key="spGetModels" value="ml.spGet_AllModels"/>
    <add key="spGetDMPRW30Days_LocalExplanation" value="ml.spGet_DMPRW30Days_LocalExplanation"/>
    <add key="commandTimeout" value="30"/>
    
  </appSettings>
</configuration>