<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="Db" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="DMPRW30Days_singleInference_URL" value="..." />
    <add key="DMPRW30Days_singleInference_AuthKey" value="..." />
    <add key="DMPRW30Days_batchInference_URL" value="..." />
    <add key="DMPRW30Days_batchInference_AADToken" value="..." />
    <add key="spGetPatients" value="dbo.spGet_AllPatients" />
    <add key="spGetSinglePatient" value="dbo.spGet_Patient" />
    <add key="spGetMedications" value="dbo.spGet_AllMedications" />
    <add key="spUpdateMedications" value="dbo.spUpdate_Medications" />
    <add key="spGetAllMedicationsHistory" value="dbo.sp_GetAllMedicationsHistory" />
    <add key="spVerifyLedger" value="dbo.sp_VerifyLedger" />
    <add key="spGetModels" value="ml.spGet_AllModels" />
    <add key="spGetDMPRW30Days_LocalExplanation" value="ml.spGet_DMPRW30Days_LocalExplanation" />
    <add key="spGet_DMPRW30Days_SingleInference" value="ml.spGet_DMPRW30Days_SingleInference" />
    <add key="spInsert_Model" value="ml.spInsert_Model" />
    <add key="spUpdate_Model" value="ml.spUpdate_Model" />
    <add key="commandTimeout" value="30" />
    <add key="pythonPath" value="D:\python\python.exe" />
    <add key="demoPatientId" value="2865" />
    <add key="SubscriptionId" value="a6c2a7cc-d67e-4a1a-b765-983f08c0423a" />
    <add key="ResourceGroup" value="xiaoyzhu-mlworkspace" />
    <add key="WorkspaceName" value="xiaoyzhu-MLworkspace" />
    <add key="Region" value="eastus2" />
    <add key="AKSClusterName" value="ace-patienthub" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>